<div class="notification-container">
  <div
    *ngFor="let notification of notifications"
    @slideIn
    [class]="'notification notification-' + notification.type"
    role="alert">
    <div class="notification-content">
      <span class="notification-icon">{{ getIcon(notification.type) }}</span>
      <span class="notification-message">{{ notification.message }}</span>
    </div>
    <button
      class="notification-close"
      (click)="close(notification.id)"
      aria-label="Đóng thông báo">
      ×
    </button>
  </div>
</div>
