<div class="under-development-container">
  <div class="under-development-content">
    <div class="construction-icon">
      🚧
    </div>
    <h1>Tính Năng Đang Phát Triển</h1>
    <p>Chúng tôi đang chăm sóc tính năng này. Vui lòng quay lại sau!</p>
    
    <div class="construction-animation">
      <div class="construction-dot"></div>
      <div class="construction-dot"></div>
      <div class="construction-dot"></div>
    </div>

    <button nz-button nzType="primary" nzSize="large" (click)="goBack()">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      <span>Quay Lại</span>
    </button>
  </div>
</div>
