<div class="login-box">

  <div class="login-image">
    <img src="https://tinchi.hau.edu.vn/FileManager/img/san%20truong.png" alt="Trường Đại học Kiến trúc Hà Nội">
  </div>

  <div class="login-form-container">

    <div class="form-wrapper">

      <h2>Đăng nhập</h2>

      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="Tên đăng nhập" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Mật khẩu" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Ghi nhớ tôi</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot">Quên mật khẩu</a>
          </div>
        </div>

        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [disabled]="isLoading || !validateForm.valid">{{ isLoading ? 'Đang đăng nhập...' : 'Đăng nhập' }}</button>
        
        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</div>